DATABASE_URL="postgresql://username:password@localhost:5432/database-name?schema=public"
JWT_SECRET='123456_super+secret-key'
JWT_ACCESS_TOKEN_TTL='5m'
JWT_REFRESH_TOKEN_TTL='3d'
COOKIE_DOMAIN='localhost'
NODE_ENV='development'
PORT=3000